.login_container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 500px;
    padding: 70px 40px;
    transform: translate(-50%, -50%);
    background: linear-gradient(145deg, #649ac6, #8a81b9);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;

    .login_input_section {
        position: relative;

        .login_input {
            width: 100%;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            margin-bottom: 60px;
            border: none;
            border-bottom: 1px solid #fff;
            outline: none;
            background: transparent;

            &:focus ~ .login_label,
            &:not(:placeholder-shown) ~ .login_label {
                top: -20px;
                left: 0;
                color: #03e9f4;
                font-size: 12px;
            }
        }

        .login_label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            pointer-events: none;
            transition: 0.5s;
        }
    }    
}
